*{
	padding: 0;
	margin: 0;
	border: 0;
	color: white;
}
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	font-family: 'Gilroy-Regular';
}
button{
		background: none;
}

ul{
		list-style: none;
}

input:focus {
 		outline: none;
}

a img{
	vertical-align: bottom;
}
/*===========================================*/
body{
	font-family: "Montserrat";
}
header{
	background: url(../img/first-screen-fon.jpg) 50% 50%/cover no-repeat;
}
.conteiner{
	max-width: 1265px;
	margin: 0 auto;
}

.header-nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 113px;
	margin-bottom: 192px;
}

.header__retangle{
	width: 75%;
	background: rgba(206, 105, 105, 0.5);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

h1{
	font-size: 80px;
	font-weight: 700;
	line-height: 100px;
	padding-left: 100px;
	padding-top: 30px;
	padding-bottom: 25px;
	text-transform: uppercase;
}

/*------------------------------*/

.conteiner__section-1{
	max-width: 1180px;
	margin: 0 auto;
}

h2{
	font-size: 40px;
	color:  #737272;
	font-weight: 700;
	padding-top: 111px;
	letter-spacing: -2px;
	line-height: 1.5em;
}

h2 span{
	color: #C30E0E;
	font-size: 50px;
	line-height: 1.5em;
}

.section-1{
	background: url(../img/section-1-fon.jpg) 50% 50%/cover no-repeat;
}


.section-1 h2{
	margin-bottom: 114px;
}


.section-1__rows__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 71px;
}

.section-1__rows__item p{
	margin-left: 48px;
	color: #737272;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
}

.section-1__rows__item:last-child{
	margin-bottom: 0px;
}

.section-1__rows{
	padding-bottom: 86px;
}

/*----------------------------*/

.conteiner__section-2{
	max-width: 1333px;
	margin: 0 auto;
}

.section-2{
}
.section-2__column-1{
	width: 48%;
	padding-left: 50px;
}

h3{
	color: rgba(195, 14, 14, 1);
	font-size: 30px;
	letter-spacing: -2px;
	text-transform: uppercase;
	line-height: 38.82px;
}

.section-2__column-1 h3{
	width: 523px;
	padding-left: 10px;
	margin-bottom: 109.5px;
}

.section-2__columns{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding-top: 44px;
}

.block__header{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 191.13px;
	background: -o-radial-gradient(74.35% 31.5%, 68.91% 6350.4%, rgba(194, 194, 194, 0.14) 16.99%, rgba(209, 212, 212, 0.091) 85.23%);
	background: radial-gradient(68.91% 6350.4% at 74.35% 31.5%, rgba(194, 194, 194, 0.14) 16.99%, rgba(209, 212, 212, 0.091) 85.23%);
}

.section-2__column li{
	background: url(../img/Ellipse-1.jpg) 0 10px no-repeat;
	font-size: 25px;
	font-weight: 400;
	color: #737272;
	padding-left: 25px;
	margin-bottom: 15px;
	letter-spacing: -0.07em;
}
.section-2__column li:last-child{
	margin-bottom: 0px;
}

.section-2__column-2{
	width: 53.333%;
	padding-left: 50px;
}

.section-2__column-2 h3{
	width: 83%;
}

.section-2__column-2{
	padding-left: 100px;
}

.section-2__column-2 p{
	color: #737272;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: -0.02em;
	margin-bottom: 40px;
}

.section-2__column-2 p:last-child{
	margin-bottom: 0px;
}

.section-2__column-2 h3{
	margin-bottom: 107px;

}

.section-2__column-2 p span{
	color: rgba(195, 14, 14, 1);
}

.section-2__columns{
	padding-bottom: 144px;
}
/*-------------------------------*/

.section-3{
	background: #F6F5F5;
}
.section-3__conteiner{
	width: 1350px;
	margin: 0 auto;
	max-width: 1350px;
}

h4{
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 129.4%;
	letter-spacing: -0.02em;
	color: #C30E0E;
}

.section-3__conteiner h4{
	width: 83%;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 80px;
}
.section-3__row .retangle{
	-webkit-box-shadow: 5px 5px 5px 5px rgba(117, 117, 117, 0.25);
	        box-shadow: 5px 5px 5px 5px rgba(117, 117, 117, 0.25);	
	background: #fff;
}



.retangle{
	display: inline-block;

}

.section-3__row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 40px;
}

.retangle img{
	padding: 10px 10px;
	width: 380px;
	height: 120px;
}

.otkrytie img{
	height: 100px;
	padding: 15px 10px;
}

.section-3__rows{
	padding-bottom: 206px;
}

.card{

	width: 45%;
	background: #FFFFFF;
	-webkit-box-shadow: 3px 0px 4px 3px rgba(0, 0, 0, 0.25);
	        box-shadow: 3px 0px 4px 3px rgba(0, 0, 0, 0.25);

}

.card p{
	color: #737272;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	font-size: 35px;
	line-height: 129s.4%;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;

}

.card img{
	width: 100%;
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
}


.cards{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}

.section-4 h4 span{
	color: #737272;
}

.section-4 h4{
	width: 95%;
	padding-top: 98px;
	margin-bottom: 77px;

}

.section-4{
	background: #F1EFEF;
}

.section-4__rows{
	margin-top: 77px;
}

.gazprom img{
	padding: 0px 10px;
}

.rosneft img{
	padding: 0px 10px;
}

.conteiner__footer{
	margin: 0 auto;
	width: 1616px;
}

footer{
	color: white;
	background: #A5AEB7;
}

.footer__text{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.foter_wrapper{
	padding-top: 222px;
}

.footer__text p{
	font-size: 30px;
	line-height: 129.4%;
	letter-spacing: -0.02em;
	margin-bottom: 86px;
	padding-left: 100px;
}

.footer__text ul li{
	font-size: 30px;
	line-height: 40px;
	letter-spacing: -0.045em;
	padding-left: 100px;
	margin-bottom: 51px;
	height: 75px;
}

.footer__text ul li:nth-Child(1){
	background: url(../img/Group-17.png) left center no-repeat;

}

.footer__text ul li:nth-Child(2){
	background: url(../img/Group-18.png) left center no-repeat;
	padding-top: 15px;
}

.footer__text ul li:nth-Child(3){
	background: url(../img/Group-19.png) left center no-repeat;
	padding-top: 15px;
	margin-bottom: 0px;
}

.footer-nav{
	width: 100%;
	margin-bottom: 0px;
	
}

.footer-nav img{
	width: 100%;
	padding-right: 50px;
}


.foter_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__logos{
	width: 40%;
}

.Copyright{
	margin-top: 150px;
	width: 100%;
	font-weight: 700;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: -0.045em;
	padding-bottom: 45px;
}
